:root{
    --text-color: #667085;
    --main-color: #8E2424;
}

body{
    width: 100%;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Inter',sans-serif;
}
/*HEADER DA PÁGINA*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.links{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.links a{
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
    margin-right: 3rem;
}

button{
    border: 0px;
    border-radius: 15px;
    font-size: 16px;
    padding: 1rem;
    background-color: white;
    color: var(--text-color);
}
button#cadastrar{
    color: white;
    background-color: var(--main-color);
}

/*SECTION SOBRE NÓS*/
.sobre{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    text-align: center;
    padding: 96px 0px;
    gap: 24px;
}

.sobre span{
    line-height: 24px;
    font-size: 16px;
    color: var(--main-color);
}

.sobre h1{
    font-family: 'Inter';
    font-size: 48px;
    line-height: 60px;
}

.sobre p{
    font-family: 'Inter';
    font-size: 20px;
    color: var(--text-color);
    max-width: 53%;
}
/*SECTION METRICAS*/
.metricas{
    height: 288px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  /*  padding: 0px 96px;*/
    gap: 32px;
}

.metricas div{
    width: 280px;
}

.metricas div span{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 60px;
    color: var(--main-color);
}

.metricas div p{
    font-size: 16px;
    padding: 12px 0px 8px 0px;
    color:var(--text-color);
}

.metricas div p.title_item{
    color: #000;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
}

/*SECTION VAGAS*/
section.vagas{
    display: flex;
flex-direction: column;
align-items: center;
padding: 96px 0px;
gap: 64px;
    
}

section.vagas .talentos{
    text-align: center;
}

section.vagas .talentos img{
    max-width: 90%;
    width: 1216px;
}

section.vagas .talentos .texto{
    padding: 0px 64px;
    gap: 64px;
}
section.vagas .talentos .texto span{
    line-height: 20px;
    font-size: 14px;
    color: var(--main-color);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 4px 12px;
}

section.vagas .talentos .texto h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

section.vagas .talentos .texto p{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
}

section.vagas .vagas_abertas {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    gap: 64px;
}
section.vagas .vagas_abertas .conteudo{
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    gap: 24px;
}

section.vagas .vagas_abertas .conteudo span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}


section.vagas .vagas_abertas .conteudo .vaga{
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px;
    gap: 24px;
    width: 768px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}

section.vagas .vagas_abertas .conteudo .vaga p{
    font-family: 'Inter';
    width: 720px;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #101828;
}

section.vagas .vagas_abertas .conteudo .vaga .descricao span{ 
    padding:0px 12px 0px 0px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

/*SECTION DEPOIMENTOS*/
section.depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 96px;
}
section.depoimentos .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px;
    gap: 32px;
    width: 85%;
    background-color: rgba(196, 25, 25, 0.03);
}
section.depoimentos .container .mencao h2{
    margin: 0 auto;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 16px;
    color: var(--main-color);
}
section.depoimentos .container .mencao .quote{
    color: #101828;
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

section.depoimentos .container .atribuir p.nome_autor{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #101828;
}

section.depoimentos .container .atribuir p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #667085;
}

/*SECTION FORMULARIO*/
section.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 32px;
    background: #F9FAFB;
}

section.formulario h1{
    color: #101828;
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}
section.formulario p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px 12px 16px;
    gap: 8px;
}
input{
    padding: 12px 20px;
    border-radius: 8px;
}
input[type=submit]{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #8E2424;
    border: none;
}
input[type=email]{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9FAFB;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
}